<!-- start: LOGIN -->
<div class="row">
	<div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
		<!-- start: LOGIN BOX -->
		<div class="box-login">
			<form class="form-login" action="index.html">
				<fieldset>
					<legend>Login</legend>
					<div class="form-group">
						<p>Please enter Your name and password</p>
					</div>
					<div class="form-group">
						<span class="input-icon">
							<input type="text" class="form-control" name="username" placeholder="Username">
							<i class="fa fa-user"></i> 
						</span>
					</div>
					<div class="form-group form-actions">
						<span class="input-icon">
							<input type="password" class="form-control password" name="password" placeholder="Password">
							<i class="fa fa-lock"></i>
						</span>
					</div>
					<div class="form-actions">
					<p>I forgot my <a href="#/lostpassword">password</a> or <a href="#/lostusername">username</a>
						</p>
					</div>
					<div class="form-actions">
						<button type="submit" class="btn btn-primary pull-right">
							Login <i class="fa fa-arrow-circle-right"></i>
						</button>
					</div>

				</fieldset>
			</form>

		</div>
		<!-- end: LOGIN BOX -->
	</div>
</div>
<!-- end: LOGIN -->
