	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
			<div class="search-classic">
				<form action="#">
				<fieldset>
					<div class="form-group">Search for an expert in&nbsp;&nbsp;&nbsp;</div>
					<div class="form-group"><div class="btn-group btn-group-justified">
						<a class="btn btn-red" href="#">
							<i class="fa fa-hospital-o"></i> Real estate
						</a>
						<a class="btn  btn-orange" href="#" disabled>
							<i class="fa fa-globe"></i> Translating
						</a>
						<a class="btn  btn-dark-beige" href="#" disabled> 
							<i class="fa fa-legal"></i> Arbitrary
						</a>
						<a class="btn  btn-azure" href="#" disabled>
							<i class="fa fa-music"></i> Music
						</a>
						<a class="btn btn-purple" href="#" disabled>
							<i class="fa fa-camera"></i> Photography
						</a>
					</div>
					</div>

					<div class="input-group ">
						<input type="text" class="form-control" placeholder="Search by keywords">
						<span class="input-group-btn">
							<button class="btn btn-primary" type="button">
								<i class="fa fa-search"></i> Search
							</button> </span>
					</div>
				</fieldset>
			</form>
			</div>
		<p> <a class="pull-right" href="#">How it works...</a></p>
		</div>

	</div>

